#homeEu{
    margin-top: 25em;
    margin-left: 20%;
    width: 60vw;
    height: 70vh;  
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        font-size: 30px;
        text-transform: uppercase;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        div{
            margin-left: 7px;
            color: rgb(252, 161, 176);
        }
    }
    h2{
        font-size: 35px;
        text-transform: uppercase;
    }
    @media(max-width: 896px){
        margin-top: 39em;
    }

    @media(max-width:767px) {
        margin-top: 10em;
        h3{
            font-size: 15px;
        }
        h2{
            font-size: 20px;
        }
    }
}
#homeTrabalhos{
    width: 90vw;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15rem;
    button{
        display: none;
    }
    samp{
        margin: 5rem;
        width: 15rem;
        height: 10rem;
        a{
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            img{
                width: 100%;
                height: 100%;
            }
        }  
    }
    @media(max-width:767px) {
        flex-direction: column;
        margin: 1rem;
        #samphome1{
            margin-bottom: 17em;
        }
        #samphome3{
            margin-top:17em;
        }
      samp{
        position: absolute;
        height: 5rem;
        display: none;
      }
      button{
        margin-top: 1rem;

        display: flex;
        width: 10%;
        background-color: transparent;
        font-size: 25px;
      }
    
    }

}
