#homeEu{
    margin-left: 20%;
    width: 60vw;
    height: 70vh;  
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        font-size: 30px;
        text-transform: uppercase;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        div{
            margin-left: 7px;
            color: rgb(252, 161, 176);
        }
    }
    h2{
        font-size: 35px;
        text-transform: uppercase;
    }
    @media(max-width:767px) {
        
        h3{
            font-size: 15px;
        }
        h2{
            font-size: 20px;
        }
    }
}
#homeTrabalhos{
    margin-top: 9em;
    margin-left: 3%;
    width: 90vw;
    height: 90vh;  
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    button{
        display: none;
    }
    samp{
        background-color: rgb(101, 152, 13);
        margin: 1rem;
        width: 15rem;
        height: 20rem;
        a{
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
        }  
    }
    @media(max-width:767px) {
        margin-top: 11vh;
        flex-direction: column;
        flex-wrap: wrap;
        height: 95vh;
      samp{
        margin: 1em;
        display: flex;
        width: 20rem;
        height: 10rem;
      }
      button{
        display: flex;
        width: 10%;
      }
    
    }
}
