

.MenuStore{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    #Cart{
        font-size: 25px;
    }
    button{
        margin: 1rem;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        &:hover{
            cursor: pointer;
        }
    }
    @media(max-width: 770px) {
        flex-direction: column !important;
        h3{
            a{
                font-size: 15px;
            }
        }
        button{
            margin: 1% !important;
        }
    }
}