

.MenuStore{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    button{
        margin: 1rem;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        &:hover{
            cursor: pointer;
        }
    }
}