
.Home{
    #HomeSaudacao {
        width: 70%;
        margin: 10% 0 0 15%;
        text-align: center;
        h2{
            font-family: "Roboto";
            font-weight: 400;
            font-size: 30px;
            height: 30px;
            samp{
                color: #FB2576;
            }
        }
        h1{
            font-family: "Roboto";
            font-weight: 400;
            font-size: 50px;
        }
    }
    #HomePort{
        margin: 20% 10px 0 10px;
        text-align: center;
        div{
            width: 80%;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left:10%;
            img{
                margin: 1rem;
                width: 39%;
            }
        }
    }
    @media(max-width:758px){
        #HomeSaudacao{
            h2{
                font-size: 20px;
            }
            h1{
                font-size:25px ;
            }
        }
        #HomePort{
            div{
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
