.Contato{
    display: block;
    margin: 5% 30%;
    div{
        display: block;
        text-align: center;
        margin: 5rem 0;
        text-transform: uppercase;
        a{
            display: block;
            text-align: center;
            button{
                background-color: transparent;
                border: none;
                padding: 0.5rem 2rem;
                font-size: 25px;
                &:hover{
                    cursor:pointer;
                }
            }
        }
    }
}