//variables.
    $esconder: none; 


    //cor
    $backgroundEscuro: #0b012a; 
    $TextoCorEscuro: #FFFBEB ;

    $backgroundClaro: #FFFBEB;
    $TextoCorClaro:#0b012a; 
    
//corpo 
body {
    background-color: $backgroundClaro;
    margin: 0;
}

.Texto {
    color: $TextoCorClaro;
}

.Esconder {
    display: none;
}
.Aparecer {
    display: flex !important;
}