

.darkMode{
     background-color: black;
     .text{
          color:white;
     }
     #buttonDarkMode{
          font-size: 20px;
          display: none !important;
      }
}
.lightmode{
     
      #buttonLightmode{
          font-size: 20px;
          display: none !important;
          border: none !important;
          background-color: white;
     }
}


.text{
     font-family: Nunito;
     text-decoration: none;
     color: black;
}

.aparecer{
     display: flex !important;
}

.sumir{
     display: none!important;
}
