.Menu {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  font-size: 20px;
}
.Menu button {
  background-color: transparent;
  border: none;
}
.Menu .buttonMenu {
  display: none;
}
.Menu nav {
  text-transform: uppercase;
}
.Menu nav a {
  justify-content: space-between;
  padding: 0.5rem;
}
.Menu nav a:hover {
  transition-duration: 2s;
  background-color: rgba(77, 77, 245, 0.949);
  color: #fff;
}
@media (max-width: 768px) {
  .Menu {
    margin: 2em;
    width: 70%;
  }
  .Menu button {
    display: flex !important;
    background-color: transparent;
    font-size: 20px;
  }
  .Menu button #menuClose {
    display: none;
  }
  .Menu nav {
    display: none;
    position: absolute;
    margin: 3rem 0 0 24%;
    padding: 3em;
    background-color: darkslategray;
  }
  .Menu nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
}

.darkMode {
  background-color: black;
}
.darkMode .text {
  color: white;
}
.darkMode #buttonDarkMode {
  font-size: 20px;
  display: none !important;
}

.lightmode #buttonLightmode {
  font-size: 20px;
  display: none !important;
  border: none !important;
  background-color: white;
}

.text {
  font-family: Nunito;
  text-decoration: none;
  color: black;
}

.aparecer {
  display: flex !important;
}

.sumir {
  display: none !important;
}

#homeEu {
  width: 100%;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#homeEu h3 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
#homeEu h3 div {
  margin-left: 7px;
  color: rgb(252, 161, 176);
}
#homeEu h2 {
  margin: 0rem 25%;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  #homeEu h3 {
    font-size: 15px;
  }
  #homeEu h2 {
    font-size: 20px;
  }
}

#homeTrabalhos {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#homeTrabalhos button {
  display: none;
  border: none;
}
#homeTrabalhos samp {
  margin: 5rem;
  width: 15rem;
}
#homeTrabalhos samp a {
  display: flex;
  justify-content: center;
}
#homeTrabalhos samp a img {
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  #homeTrabalhos {
    flex-direction: column;
    margin: 1rem;
  }
  #homeTrabalhos #samphome1 {
    margin-bottom: 17em;
  }
  #homeTrabalhos #samphome3 {
    margin-top: 17em;
  }
  #homeTrabalhos samp {
    position: absolute;
    height: 4rem;
    display: none;
  }
  #homeTrabalhos button {
    margin-top: 2rem;
    display: flex;
    width: 10%;
    background-color: transparent;
    font-size: 25px;
  }
}

.footer {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  height: 10rem;
}
.footer div {
  margin: 3rem;
}
.footer div p {
  color: rgb(199, 196, 196);
}
.footer div a button {
  background-color: transparent;
  border: none;
  margin: 1rem;
  font-size: 25px;
}
@media (max-width: 762px) {
  .footer {
    margin-top: 35vh;
    display: block;
  }
  .footer div a button {
    font-size: 20px;
  }
}

.Contato {
  display: block;
  margin: 0 30%;
}
.Contato div {
  display: block;
  text-align: center;
  margin: 5rem 0;
  text-transform: uppercase;
}
.Contato div a {
  display: block;
  text-align: center;
}
.Contato div a button {
  background-color: transparent;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 25px;
}
.Contato div a button:hover {
  cursor: pointer;
}

.SobreMim {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.SobreMim div {
  display: flex;
  margin: 0 8rem;
}

.FakeStore {
  display: flex;
  flex-direction: column;
}
.FakeStore div {
  text-align: center;
}
.FakeStore div img {
  width: 85%;
  height: 30rem;
}
.FakeStore ul {
  margin: 3.5rem 0;
}
.FakeStore ul img {
  width: 25%;
}

.MenuStore {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.MenuStore button {
  margin: 1rem;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}
.MenuStore button:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */