.SobreMim{
    margin-top: 10%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    text-align: center;
    a{
        margin-top: 5%;
        font-size: 160%;
        align-self: center;
    }
    div{
        max-width: 70%;
        align-self: center;
    }
}