.footer{
    margin-top: 90vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    height: 10rem;
    div{
        margin: 3rem;
        p{
            color: rgb(158, 153, 153);
        }
        a{
            button{
                background-color: transparent;
                border: none;
                margin: 1rem;
                font-size: 25px;
                &:hover{
                    transition-delay: 1s;
                    background-color: grey;
                }
            }
        }
    }
    @media(max-width:762px){
        margin-top: 35vh; 
        display: block;
        p{
            font-size: 15px;
        }
      div{
        a{
            button{
                margin: 10apx;
                font-size:15px;
              
            }
        }
      }
    }
}